@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans font-medium;
  }
}

@layer utilities {
  * {
    outline: none;
    @apply antialiased;
  }

  .wrapper {
    @apply mx-auto px-12 xl:container;
  }

  .display-title {
    @apply font-display text-4xl font-black lg:text-5xl;
    letter-spacing: 0;
  }

  /* Remove autofill ugly style */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
  }
}

@layer components {
  .btn-main {
    @apply px-8 py-3 rounded-full font-extrabold transition-all duration-200 hover:bg-green-600 shadow-xl;
  }
}
